.lesson-item {
    display: flex;
    width: 97%;
    justify-content: space-between;
    padding: 18px 18px 18px 10px;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(23, 43, 77, 0) 0%, rgba(23, 43, 77, 1) 50%, rgba(5, 68, 94, 0) 100%) 1;
  }
  .lesson-title{
    font-weight: 700;
  }
  .lesson{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .lesson-item:last-child {
    border-bottom: none;
  }
  
  .lesson-time {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #17384D;
  }
  .lesson-icon{
    width: 22px;
    height: 22px;
    font-size: 22px;
    color: #05445E;
  }
  